<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="/static/index.css">
  <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">	
  <title>{{chainName}} <-> TN Gateway</title>
</head>

<body>
  <div class="content">
    <header class="deskHeader">
      <div class="logos">
        <div class="logobg">
          <img class="logo" src="/static/waves.png" alt={{chainName}} + " Logo">
        </div>
        <div class="title">
          <h1>
            {{chainName}} ⬌ Gateway
          </h1>
        </div>
        <div class="logobg">
          <img class="logo" src="/static/tn.png" alt="TN Logo">
        </div>
      </div>
    </header>
    <header class="header">
      <div class="title">
        <h1>
          {{chainName}} ⬍ Gateway
        </h1>
      </div>
      <div class="logos">
        <div class="logobg">
          <img class="logo" src="/static/waves.png" alt={{chainName}} + " Logo">
        </div>
        <div class="logobg">
          <img class="logo" src="/static/tn.png" alt="TN Logo">
        </div>
      </div>
    </header>
    <div class="description down">
      <div class="emote">
        <p>🛈</p>
      </div>
      <div class="info">
        <h2>This is a gateway for exchanging {{chainName}} tokens between the Waves and DecentralChain Platform.</h2>
        <h3>
					<strong>To Send {{chainName}} to Waves Network,</strong> using DecentralChain wallet
        </h3>
        <p>
          - Click "SEND"</br>
          - Recipient's Address = {{ tnAddress }}</br>
          - Attachment = only insert your Waves Network wallet address</br>
        </p>
        <h3>
					<strong>To Send {{chainName}} to DecentralChain,</strong> using Waves Network wallet
        </h3>
        <p>
          - Click "SEND"</br>
          - Recipient's Address = {{ wavesAddress }}</br>
          - Description = only insert your DecentralChain wallet address</br>
        </p>
      </div>
    </div>
    <div class="description left">
      <div class="emote">
        <p>🛈</p>
      </div>
      <div class="info">
        <p class="address">
          DecentralChain height: <strong>{{ tnHeight }}</strong>, DecentralChain Gateway Address: <strong>{{ tnAddress }}</strong>
        </p>
        <p class="address">
          Waves Network height: <strong>{{ wavesHeight }}</strong>, Waves Network Gateway Address: <strong>{{ wavesAddress }}</strong>
        </p>
        <p class="address">
          {{chainName}} Official ASSET ID: <strong>{{ assetID }}</strong>
        </p>
      </div>
    </div>
    <div class="description right">
      <div class="emote">
        <p>🛈</p>
      </div>
      <div class="info">
        <h3>
          Fees: 
        </h3>
        <table style="width:100%">
            <tr>
                <th>Withdraw</th>
                <th>Deposit</th>
            </tr>
            <tr>
                <td> Total {{ waves_total_fee }} ${{ chainName }} for <strong>Withdraw:</strong></br>
                    ({{ waves_network_fee }} ${{ chainName }} for network fee)</br>
                    ({{ waves_gateway_fee }} ${{ chainName }} for gateway fee)</br>
                    Note: Transaction must be higher than {{ waves_total_fee }} ${{ chainName }}.</br></td>
                <td> Total {{ tn_total_fee }} ${{ chainName }} for <strong>Deposit:</strong></br>
                    ({{ tn_network_fee }} ${{ chainName }} for network fee)</br>
                    ({{ tn_gateway_fee }} ${{ chainName }} for gateway fee)</br>
                    Note: Transaction must be higher than {{ tn_total_fee }} ${{ chainName }}.</br></td>
            </tr>
        </table>
        <p>&nbsp;</p>
      </div>
    </div>
    <div class="description up">
      <div class="emote">
        <p>⚠</p>
      </div>
      <div class="disclaimer">
        <h3>
          DISCLAIMER: Erronious sends can only be recovered if they are in
          gateway controlled wallets.
        </h3>
        <h3>
          <strong>Recovery policy</strong></br>
          - Please contact support within 3 days of transfer issue.</br>
          - Minimal amount to recover {{ recovery_amount }} ${{ chainName }}.</br>
          - Recovery fee on end-user mistake = {{ recovery_fee }}%.</br>
        </h3>
        <p class="mail">
          This gateway is run by {{ company }} - contact us at <a href="mailto:{{ email }}">{{ email }}</a> or Telegram at <a href="{{ telegram }}">{{ telegram }}</a>
        </p>
        <p class="mail">
          By using this service you accept the following <a href="{{ disclaimer }}">agreement</a>
        </p>
      </div>
    </div>
    <a class="freepik" href="https://www.freepik.com/free-photos-vectors/background">Background vector created by pikisuperstar - www.freepik.com</a>
  </div>
</body>

</html>
