<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ERC-20 <-> TN Gateway</title>
	<link href="static/bootstrap.min.css" rel="stylesheet">
	<link rel="icon" href="static/favicon.ico" type="image/x-icon">
</head>
<body>
<div class="container-fluid">
	<div className="col-md-12">
		<div className="page-header">
		  <nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			  <ul class="navbar-nav">
				TN height: {{ tnHeight }}, TN Gateway Address: {{ tnAddress }}
				<br />
				WAVES height: {{ wavesHeight }}, WAVES Gateway Address: {{ wavesAddress }}
			  </ul>
			</div>
		  </nav>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron">
				<h2>
					{{chainName}} <-> TN Gateway
				</h2>
				<p>
					This is a simple gateway for TN tokens to the Waves Platform. 
					For sending tokens from the TN Platform to the Waves blockchain, just add the Waves address
					that should receive the tokens as the description of the transfer and send the tokens to the TN
					address of the gateway.
					<p>
					For sending tokens from the Waves Platform to the TN blockchain, just add the TN address
					that should receive the tokens as the description of the transfer and send the tokens to the Waves
					address of the gateway.
					<p>
					<h4>DISCLAIMER: Use this gateway at your own risk!!!</h4>
				</p>
			</div>
			<div class="row">
				<div class="col-md-4">
				</div>
				<div class="col-md-4">
				</div>
				<div class="col-md-4">
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>